page-forgot-password {
    .mat-raised-button {
        float: right;
        //margin-right: 10px;
    }
    
    ion-col{ 
        text-align: right;
    }

    p {
        font-size: 1.6rem;
        color: #3f51b5;       
    }

    .toolbar-title {
        text-align: center;
    }

    .form {
        width: 100%;
    }
    
    .full-width {
        width: 100%;
    }
}
