page-auth {
    .mat-raised-button {
        float: right;
        margin-right: 10px;
    }
    
    .toolbar-title {
        text-align: center;
    }

    .form {
        width: 100%;
    }
    
    .full-width {
        width: 100%;
    }
}
