<ion-header>
  <ion-navbar>
    <ion-title>NG Inder</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let card of cards$ | async" class="td-card">
      <ion-item *ngIf="card.picture">
        <img *ngIf="card.picture" [src]="card.picture.medium">
        <h1>{{ card.name.first }} {{ card.name.last }}</h1>
        <p>{{ card.email }}</p>
      </ion-item>
      <ion-card-content *ngIf="card.location">
        From {{ card.location.city }}, {{ card.location.postcode }}<br> Phone: {{ card.phone }}
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list *ngIf=" (cards$ | async)?.length < 1 ">
    <ion-list-header>
      Empty Tinder List !!!!
    </ion-list-header>
    <ion-item>
      <ion-icon name="paw" item-start color="danger"></ion-icon>
      <button mat-raised-button color="primary" (click)="reload()">Reload</button>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <div class="tinder-footer">
    <div id="swipe_dislike" class="rate" (click)="voteUp(false)"></div>
    <div class="info"></div>
    <div id="swipe_like" class="rate" (click)="voteUp(true)"></div>
  </div>
</ion-footer>
